.default-layout {
	display: grid;
	grid-template-columns: auto 1fr;
	grid-template-rows: auto 1fr;
	grid-template-areas:
			"sidebar header"
			"sidebar outlet"
	;
	height: 100vh;

	.header {
		grid-area: header;
	}

	.sidebar {
		grid-area: sidebar;
	}

	.outlet {
		grid-area: outlet;
	}

}